{% extends 'base.html' %}

{% block content %}
<div class="container" style="margin-top:30px">
  <div class="row">
    <table class="table mb-0">
      <thead>
        <tr>
          <th>Tytuł</th>
          <th>Autor</th>
          <th>Ilość pytań</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for quiz in object_list %}
          <tr>
            <td class="align-middle"><b>{{ quiz.name }}</b></td>
            <td class="align-middle">{{ quiz.owner }}</td>
            <td class="align-middle">{{ quiz.get_question.count }}</td>
            <td class="text-right">
              <a href="{{ quiz.pk}}/" class="btn btn-primary">Graj!</a>
            </td>
          </tr>
        {% empty %}
          <tr>
            <td class="bg-light text-center font-italic" colspan="4">Nie ma jeszcze żadnych quizów.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
